<footer class="footer has-background-light p-3">
    <div class="content has-text-centered">
      <p>
        <strong>Zman</strong> by Yosef Weiner    
        <strong><%= new Date().getFullYear() %></strong>
        <br>Powered by <a href="https://www.hebcal.com/" target="_blank" rel="noopener noreferrer">HebCal</a>
        </p>
    </div>
  </footer>

</body>
</html>